.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 60%);
  z-index: 1000;
}

.modal {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.modal h2 {
  color: var(--color-text-primary);
  margin-bottom: 8px;
}

.modalInput {
  outline: none;
  color: var(--color-text-primary);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-background);
  padding: 1.3rem;
  font-size: 1.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.createButton {
  background-color: var(--color-success);
  color: var(--color-text-primary);
  font-size: 1.8rem;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
  padding: 1.3rem;
}

.createButton:hover {
  background-color: var(--color-success-background);
}

.closeButton {
  background-color: var(--color-danger);
  color: var(--color-text-primary);
  font-size: 1.8rem;
  border: none;
  border-radius: 6px;
  padding: 1.3rem;
}
