.container {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-border);
  box-shadow: var(--box-shadow);
}

.title {
  font-size: 4rem;
}

.bold {
  font-weight: bold;
}
